  


body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
    
}

h1{
    font-size: 50px;
    
}
h2{
    font-size: 30px;
}
p{
    color: dimgray;
    padding-left: 10px;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
    padding-bottom: 50px;
}

.top-banner{
    
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

section{
    height: 500px;
    padding-bottom: 150px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient( lightSalmon,tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: rgb(248, 245, 245);
}

.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 600px;
    
    
}

.exp-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;

}
h4{
    font-size: 15px;
}

.Inforamtion{
    box-shadow: 10px 10px 40px rgb(77, 75, 74);
    border-radius: 5px;
    height: 80%;
    background-color: white;
    
}
#info{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(174, 167, 233), rgb(71, 89, 255));
    border-image-slice: 1;

}
#education{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(225, 167, 233), rgb(249, 71, 255));
    border-image-slice: 1;
}
footer{
    text-align: center;
    font-size: 12px;
}